.r-color {
    border: 2px solid var(--ion-color-danger);
}

.w-color {
    border: 2px solid var(--ion-color-warning);
}

.g-color {
    border: 2px solid var(--ion-color-success);
}

.red {
    color: var(--ion-color-danger);
}

.war {
    color: var(--ion-color-warning);
}

.gre {
    color: var(--ion-color-success);
}